.settingsContainer {
    position: fixed;
    width: 400px;
    height: 100vh;
    right: -400px;
    top: 0;
    z-index: 100;
    transition: right 0.3s ease-in-out;
    padding: 54px 0 0 19px;
    box-sizing: border-box;

    background: var(--background-light);
    &.opened {
        right: 0;
    }
}

.button {
    position: fixed;
    height: 60px;
    width: 60px;
    top: 0;
    right: 0;
    z-index: 101;
    border-radius: 0 0 0 6px;

    background: var(--background-light) !important;
}

.filterTitle {
    color: var(--sub-text);
    font-size: 16px;
    margin-top: 20px;
}

.paramsGrid {
    margin-top: 27px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 22px;
    grid-column-gap: 0.5rem;
    align-items: center;
    padding-right: 20px;
}

.paramTitle {
    color: var(--grey-font);
    font-size: 12px;
    line-height: 14px;
}

.refitButton {
    margin-top: 10px;
    background-color: var(--button-color) !important;
    color: var(--button-font) !important;
    height: 32px;
    margin-left: auto;
    grid-column-end: 3;
    width: 100px;
    border-radius: 6px;
}
