.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.csvButton {
  background: var(--button-color);
  color: var(--font);
  width: 379px;
  height: 84px;
  outline: none;
  border: none;
  cursor: pointer;
}
