.container {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  margin: auto;
}
.column {
display: flex;
flex-direction: column;
gap: 5px;
}
.csvButton {
background: var(--button-color);
color: var(--button-font);
border-radius: 6px;
height: 30px;
outline: none;
border: none;
cursor: pointer;
}
