.wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 32px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 0 10px 0 5px;
  background: none;
  color: var(--grey-font);
  box-sizing: border-box;
}
