// @import "../../helpers/mixins.scss";

.dropDownWrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 32px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.dropDownContainer {
  padding: 0 10px 0 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &.smaller {
    height: 20px;
    padding: 0 0.5rem;
  }

  &.disabled {
    cursor: not-allowed !important;
    opacity: 0.8;

    * {
      cursor: not-allowed !important;
      color: var(--grey-font) !important;
    }
  }
}

.dropDownIcon {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &.rotateIcon {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }
}

.dropDownList {
  background: var(--background-light);
  border: 1px solid var(--border-color);
  width: 100%;
  border-radius: 6px;
  display: block;
  padding: 1.25rem 0;
  position: absolute;
  top: 40px;
  max-height: 120px;
  left: -1px;
  z-index: 2;
  overflow-y: auto;

  &.smaller {
    top: 22px;
    margin: 0;
  }

  &.hiddenList {
    display: none;
  }

  .listItem {
    width: 100%;
    height: 1.375rem;
    box-sizing: border-box;
    border-left: 2px solid var(--white);
    justify-content: flex-start;
    color: var(--grey-font);
    font-size: 0.875rem;
    line-height: 1.2em;
    padding-left: 5px;
    margin-bottom: 1.25rem;
    user-select: none;

    &:hover {
      border-color: var(--orange);
      color: var(--orange);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// .dropDownLabel {
//   @include fieldLabel;
// }

// .errorText {
//   @include fiedlErrorText;
// }
