.slider {
  width: 100%;;
}
.track {
  height: 5px;
  background: #929D9E;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

  &:nth-of-type(1) {
    background: var(--slider-track);
    box-shadow: none;
  }
}

.thumb {
  position: relative;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--slider-dot);
  transform: translateY(-2px);
  cursor: pointer;

  > span {
    position: absolute;
    top: 10px;
    right: 4.5px;
    transform: translateX(50%);
    font-size: 12px;
    color: var(--grey-font);
  }
}
